[2016-08-31 16:32] osama opened #1 "Snapping is broken in horizontal RecyclerViews when in RTL"
Hey,
Thanks for sharing this example! I was playing around with the `GravitySnapHelper` and noticed an issue in RTL, which would cause the carousel to scroll back to the first item, regardless of how far along it was in the list of items.
<img src="https://cloud.githubusercontent.com/assets/1403575/18137475/6fffc3ae-6f76-11e6-89cf-00153a6ce108.gif" width="250px"/>

After investigating a bit, I rea

[2016-08-31 20:02] rubensousa commented on #1
Thanks for your work! Do you mind if I integrate these changes in the repo?

[2016-08-31 20:30] lawloretienne opened #2 "Scrolls to far"
So i started testing out this GravitySnapHelper and i noticed a very subtle issue that arises after continually testing.  So its difficult to reproduce every single time but i have tested it enough to reproduce it several times.

If you are scrolling through the `RecyclerView` with a swipe gesture, your finger remains on the screen and you let go while the second half of an item ( lets say item nu

[2016-08-31 22:42] rubensousa commented on #2
I think you're describing a fling gesture, but I'm not sure. If you swipe fast enough, the recyclerview will scroll for more items. Isn't this what's happening? You can control the fling speed, but it's out of context for this sample. If I'm mistaken, please provide a gif that reproduces this so I can take a look.

[2016-08-31 23:09] lawloretienne commented on #2
Check out this video.  It shows the issue i'm talking about.
https://goo.gl/photos/TSmEL6AvdeiDThJ78

[2016-08-31 23:14] rubensousa commented on #2
Oh, I see now. This also happened to me a couple of times. I'll take a look at this later.

[2016-09-01 14:06] osama commented on #1
No, go for it! I made another slight modification to the script since it wasn't showing the last item in certain cases. However, I've noticed that the RTL stuff is still broken, particularly on larger screens and I haven't yet been able to determine why.

[2016-09-02 00:57] crysan opened #3 "Example!"
Please example apk file

[2016-09-03 00:15] Piasy opened #4 "Create a library?"
Thanks for your great work! Could you please create a library and host it on somewhere like bintray?

[2016-09-03 14:06] rubensousa commented on #1
If there's still issues, I think we should just use a custom "OrientationHelper".

[2016-09-03 14:07] rubensousa commented on #3
Why do you need one? You could also try: https://github.com/cesarferreira/dryrun

[2016-09-03 14:08] rubensousa commented on #4
For GravitySnapHelper, right? I'll host it on jitpack since it's easier

[2016-09-03 14:11] Piasy commented on #4
Great!

[2016-09-08 13:15] ChristianLJ opened #5 "Scrolling issue with snap center"
This is only an issue with the snap-center functionality.
When i slide horizontally in the RecyclerView i cant slide vertically afterwards in the wrapping RecyclerView - it is like the horizontal RecyclerView steals the focus without clearing it afterwards. Please see this video:
http://i.imgur.com/5NwrR5s.gifv

[2016-09-08 18:37] osama commented on #1
Yeah, [see Google's response here](https://code.google.com/p/android/issues/detail?id=221408) 😐

[2016-09-09 14:23] hackware1993 opened #6 "how to use indicator in RecyclerViewSnap"
nice! I will provide a adapter class to use https://github.com/hackware1993/MagicIndicator in RecyclerViewSnap.

[2016-09-10 09:22] rubensousa commented on #6
Ok, thanks!

[2016-09-10 09:22] #6 closed

[2016-09-10 09:22] #3 closed

[2016-09-12 10:01] rubensousa commented on #4
Done. It's on jcenter and mavencentral

[code]

[2016-09-12 10:01] #4 closed

[2016-09-13 11:26] nikhilreprime commented on #5
this seems to be happening if you scroll to first or last element of list in recycler view
if you scroll back to one of the middle elements it can be vertically scrolled

do you have any solution for this

[2016-09-13 13:32] rubensousa commented on #5
I still didn't have time to look at this. I've just added GravitySnapHelper as a library so you can easily update it when this and the other bugs get fixed.

[2016-09-15 15:00] leicht-io commented on #5
@rubensousa thank you.

[2016-09-23 07:19] leicht-io commented on #5
@rubensousa anything new regarding this bug?

[2016-09-23 15:16] rubensousa commented on #5
I'll try to fix it this weekend, but can't promise anything.

[2016-09-24 16:33] rubensousa commented on #5
I just updated the support library and I can't reproduce this again (24.2.1). Easiest solution ever :)

[2016-09-24 16:33] #5 closed

[2016-09-24 20:04] rubensousa commented on #1
Will be out in 0.2.

[2016-09-24 20:04] #1 closed

[2016-09-25 02:05] rubensousa commented on #2
Should be fixed in release 0.2

[2016-09-25 02:05] #2 closed

[2016-09-25 13:48] rubensousa commented on #2
Fixed properly in 0.3. I've opened an issue in the official bug tracker since this problem was due to LinearSnapHelper: https://code.google.com/p/android/issues/detail?id=223649

[2016-09-26 06:57] leicht-io commented on #5
@rubensousa that did the trick! That's just perfect! Thank you for your time :)

[2016-10-07 16:58] manabreak opened #8 "Find out which item was snapped?"
I'm trying to do a snappy recycler view and your code works perfectly for that. However, I'm trying to figure out how to get the index of the item that was snapped. I proxied the `findTargetSnapPosition` method, but it tends to return -1 quite often.

Any idea how to fetch the position, preferably by listening to the snap helper?

[2016-10-07 20:18] rubensousa commented on #8
Do you want to listen to the snap event or just query the snapped item? If it's the first one, there's no support for this yet, but might be interesting to add. If it's the last one, you can use findFirstCompletelyVisibleItemPosition/findLastCompletelyVisibleItemPosition from LinearLayoutManager.

[2016-10-08 07:41] manabreak commented on #8
I'm interested in the former one - listening to the snaps. I did manage to use a `addOnScrollListener()` and listening for the state changes. More precisely: When the state is `SCROLL_STATE_IDLE`, I check whether the `layout.findFirstCompletelyVisibleItemPosition()` is greater than `-1`. If it is, we have a bound item.

[2016-10-10 11:25] rubensousa commented on #8
So did you manage to do it?

[2016-10-11 05:24] manabreak commented on #8
Yes, using the method I mentioned above. Although it could be a nice addition to implement in the helper itself.

[2016-10-14 17:48] rubensousa commented on #8
Added in https://github.com/rubensousa/RecyclerViewSnap/commit/7e0e1687e8322bd232e53e2c04861ca286eb24b7.

Will be out in 1.0, after google releases the fix for: https://code.google.com/p/android/issues/detail?id=223649

[2016-10-14 17:48] #8 closed

[2016-10-16 14:27] jianyaoang opened #9 "Scroll like viewpager"
First of all, absolutely like this! It was really easy to use, and the results achieved is amazing.

I have a question, and not sure how do I go about if I implement this with my RecyclerView. Basically, my RecyclerView is showing 4 rows per screen. Using RecyclerViewSnap, how do I go about scrolling my RecyclerView like a ViewPager? I like how RecyclerViewSnap already does help me present only 4

[2016-10-19 22:15] rubensousa commented on #9
You can't do this with GravitySnapHelper. You'll need to create custom snaphelper that behaves likes you described. A ViewPagerSnapHelper would be a cool addition to this project, but it's not on my plans right now.

[2016-10-19 22:15] #9 closed

[2016-10-19 22:39] rubensousa commented on #8
1.0 released :)

[2016-12-26 11:25] jeffbordon opened #10 "padding / clipToPadding="false" does not work"
When I apply

to my RecyclerView, the list element does not "snap" but jumps between position with padding and without padding. Any ideas how to fix that? Thanks!

[2016-12-28 13:30] rubensousa commented on #10
Every element or just a particular one?

[2016-12-28 21:02] jeffbordon commented on #10
Happens to me with every element...

[2016-12-29 01:30] rubensousa commented on #10
Which gravity are you using? Are you saying it works without padding?

[2016-12-29 07:51] jeffbordon commented on #10
Without padding and clipToPadding=false it works, however I would like the padding... Here is my full layout (the overscroll-param does not change the behavior):
[code]

[2016-12-29 11:49] rubensousa commented on #10
The outer LinearLayout isn't necessary in that case. Try removing it or applying clipToPadding to it as well.
Also, recyclerview doesn't handle "android:orientation"

[2017-01-03 21:24] jeffbordon commented on #10
Thanks for the response. I finally found that `clipToPadding="false"` was not the problem.

The root cause for my problem seems to be that I have my snapping RecyclerView inside a vertically scrolling RecyclerView on which I apply
`((SimpleItemAnimator) mRecyclerView.getItemAnimator()).setSupportsChangeAnimations(false);`
to disable layout transitions (to avoid the flickering effect on click).

Th

[2017-01-06 17:26] rubensousa commented on #10
Can you provide sample, through a github repository or just a zip file?

What changes are you introducing on click that add a flickering effect? I think you're disabling layout transitions the wrong way though. If you want to disable them in that LinearLayout, you should pass null in setLayoutTransition instead of changing RecyclerView's ItemAnimator.

[2017-01-24 16:20] rubensousa commented on #10
Any updates?

[2017-01-26 13:33] leonardo2204 opened #11 "Auto left scrolling"
I'm using the SnapHelper inside a recyclerView, but I found out that after scrolling the list for a bit (thus recycling its views) the RecyclerView automatically scrolls to the start of the list after any scroll motion, I mean, I scroll for instance, to the middle of the list. it suddenly goes to the first item, without any user interaction.

My code:
[code]

An image demonstrating the issue: (sor

[2017-01-26 14:29] rubensousa commented on #11
Why are you using Gravity.BOTTOM instead of Gravity.START? In that demo, you're displaying an horizontal RecyclerView

[2017-01-26 15:27] leonardo2204 commented on #11
That was dumb haha, sorry about that, changing to START solved it.
Anyway, using END still gives me the same weird behaviour, any ideas ?

Thanks

[2017-01-26 15:28] rubensousa commented on #11
Can you record it again for the Gravity.END case?

[2017-01-26 15:34] leonardo2204 commented on #11
It's the very same behaviour.

[2017-01-26 15:36] rubensousa commented on #11
But it helps anyway :)

Are you using the same code as the above?

[2017-01-26 15:41] leonardo2204 commented on #11
Exactly, but instead of using BOTTOM I'm using END.
[A new record :)](http://imgur.com/a/Nuwnr)

Thanks for the quick reply !

[2017-01-26 15:50] rubensousa commented on #11
Weird, in that recording it seems like Gravity.START is applied. Where are you setting the LayoutManager to the RecyclerView?

[2017-01-26 15:53] leonardo2204 commented on #11
Yeah, that's the same impression I have.
The entire snippet:

[code]

[2017-01-26 16:04] rubensousa commented on #11
I can't find anything wrong. I would suggest you to try and isolate the cause by creating a simple layout based on the sample in this repository.

Check if you're sharing the instance of productsRecyclerView anywhere and setting another snaphelper.

[2017-01-26 16:14] leonardo2204 commented on #11
Sure, I'll give it a try and share the feedback in a while !

Thanks again for the help !

[2017-02-09 19:17] rubensousa commented on #11
Any updates on this?

[2017-02-10 13:40] leonardo2204 commented on #11
I have no time to check this out, gonna close the issue. If it happens occuring, I'll reopen it !
Thanks

[2017-02-10 13:40] #11 closed

[2017-02-13 13:42] jiankian opened #12 "How to set ClickListener"
How to setting a Click Listener on  Verry Snap and Subject Item

[2017-02-13 22:30] rubensousa commented on #12
It's the same as you would normally do. I've added this to the sample. Check commit https://github.com/rubensousa/RecyclerViewSnap/commit/ba738bba0de23f18a780590b8fc88338c92b9d3d

[2017-02-13 22:30] #12 closed

[2017-02-14 13:09] Kavan72 opened #13 "cannot resolve symbol 'PagerSnapHelper'"
![untitled](https://cloud.githubusercontent.com/assets/19048640/22930149/e638c934-f2e4-11e6-8738-40325ed6a421.png)

[2017-02-14 13:12] rubensousa commented on #13
You need to update the recyclerview-v7 library. PagerSnapHelper was added in 25.0.1 or 25.1.0.

[2017-02-14 13:12] #13 closed

[2017-02-14 13:14] rubensousa commented on #10
Closing due to no response.

[2017-02-14 13:14] #10 closed

[2017-02-15 20:42] jiankian opened #14 "How to Click Item Listener"
how to do get Click Listener ，
I use this ersion
[https://github.com/rubensousa/RecyclerViewSnap/commit/ba738bba0de23f18a780590b8fc88338c92b9d3d](url)
My App not work  and no debug info

[2017-02-15 21:01] #14 closed

[2017-02-15 21:47] jiankian opened #15 "How to get Context"
On /app/src/main/java/com/github/rubensousa/recyclerviewsnap/Adapter.java
how to get Application Context？
eg. I want to set a click to start new Intent or Make a Toast

[2017-02-15 21:49] rubensousa commented on #15
Pass it in the constructor. This is not related to the sample, so I'm closing this. Please use StackOverflow for this kind of questions

[2017-02-15 21:49] #15 closed

[2017-02-23 19:12] sevar83 opened #16 "Jumps to the end when more items are appended"
I have a continuously loading paginated horizontal list. Loading new page is triggered on bottom scroll when there are less than 10 items to the end of the adapter list. The moment when a new page is loaded the snap jumps directly to the end. Maybe you tested only cases where adapter size does *not* change on the fly.

[2017-02-23 19:31] sevar83 commented on #16
Sorry, maybe the problem is on my side. Ignore it for now.
P.s. Yes, the problem was my mistake. Close please.

[2017-02-23 22:44] #16 closed

[2017-03-01 10:46] simonrob opened #17 "Reduce minSdkVersion?"
Thanks for the great library - it works perfectly!

Just one issue - at the moment I'm having to override its minSdkVersion (by using `<uses-sdk tools:overrideLibrary="com.github.rubensousa.gravitysnaphelper"/>` in a manifest file).

As the RecyclerViewSnap library is intended solely to augment the functionality of the RecyclerView v7 support library, could you reduce minSdkVersion to the same as

[2017-03-01 22:28] rubensousa commented on #17
Yes, I can do this :)

[2017-03-03 08:42] mrad4tech opened #18 "OnClickListener for Each Item"
I am trying to put onclick listener for each item in each snap,so for the first position in the spanscenter has different function than that in endsnap and startsnap,I succeeded in adding click listener  for each item (code below),but am having same action for item position 1(for example) in the Four snaps

[code]

[2017-03-25 16:04] #17 closed

[2017-03-25 16:07] rubensousa commented on #18
I didn't understand the problem, sorry. Can you provide more details?

[2017-03-30 06:16] ngochuu90 opened #20 "Snap Center: How to set first item to center"
![snap](https://cloud.githubusercontent.com/assets/9895294/24490046/f95a3254-154a-11e7-9ced-21296561c571.PNG)

Snap Center: How to set first item to center. Thanks

[2017-03-31 14:29] rubensousa commented on #20
You could add an invisible viewholder with the same width as the first item.

[2017-03-31 14:44] HuuNguyen312 commented on #20
Thanks for your answer. I solved this problem in another way by using RecyclerView.ItemDecoration

[2017-03-31 14:44] #20 closed

[2017-04-24 19:04] XtreeIvI opened #21 "Center Snap with support to snap to edge items"
GravirySnapHelper is awesome comparing to default LinearSnapHelper. But It would be perfect if it is support also Gravity.CENTER and simultaneously snap to first and last item if scrolled to one of the edges.
Regretfully LinearSnapHelper (though snap to center) can't snap to side items as your GravirySnapHelper does. So in order your GravirySnapHelper become far more superior you should add Gravit

[2017-05-01 21:31] rubensousa commented on #21
I don't understand why Gravity.CENTER support should be added. Care to explain an use case for this?

[2017-05-03 10:47] XtreeIvI commented on #21
actually Gravity.CENTER with ability to snap for first and last item. LinearSnapHelper does not support snap for side items.

[2017-05-03 13:14] bobymicroby commented on #21
in LinearSnapHelper you dont have the snapListener, so +1 for Gravity.CENTER :)

[2017-05-03 20:31] rubensousa commented on #21
@XtreeIvI, it doesn't make sense (in my opinion) to support CENTER and then snapping first and last items at the same time. That means it'll only be centered before the first scroll. After the first scroll, it'll either be snapped at START or END.

I'll consider adding CENTER support to replace the need for using 2 different SnapHelpers.

[2017-05-06 11:43] mosentest commented on #18
# **** @

[2017-05-15 09:52] GLiccardo commented on #21
+1
It is important when you have the first and last items with margins to screen edges

[2017-06-08 08:51] Kolyall opened #22 "How to customize scroll behavior ?"
[code]
For example I need to show next element if it is visible more than 50%. Or hide first element if it's hidden more than 50%.
Because current  behavior is :
if we scroll down and first item is hidden by 80%, then SnapHelper scrolls up the list and first element is visible again.
Expected behavior :
if we scroll down and first item is hidden by 80%, then SnapHelper should scroll down to hide f

[2017-06-08 18:48] rubensousa commented on #22
I could add support for custom offsets. Currently, it collapses to an item if it's visible more than 50%.

[2017-06-08 19:35] Kolyall commented on #22
Oh, than I found an issue. 50% collapsing doesnt work for grid layout manager

[2017-06-08 19:35] Kolyall commented on #22
Because for linear it works properly

[2017-06-16 08:29] Kolyall commented on #22
@rubensousa do you confirm the issue?

[2017-06-17 13:05] rubensousa commented on #22
@Kolyall yes, I do. Never thought someone would use this with a GridLayoutManager, so I didn't add support for it. I'll see what I can do.

[2017-06-17 14:02] rubensousa commented on #22
Released on 1.2

[2017-06-17 14:02] #22 closed

[2017-06-17 14:05] #18 closed

[2017-06-27 13:59] Kolyall opened #23 "java.lang.IllegalStateException: An instance of OnFlingListener already set."
Here is my code:
[code]
but sometimes the issue occurs:
[code]

[2017-06-27 18:21] evanhalley commented on #23
Set the recycler view fling listener to null (this is what worked for me).

`mRecyclerView.setOnFlingListener(null);`

[2017-06-28 08:26] Kolyall commented on #23
I added check for isSnapHelperAttached or not

[2017-07-21 09:46] dawidfiruzek opened #24 "SCROLL_STATE_IDLE is never called in case of scrolling up"
In case of swiping up when we are focused on first element, SCROLL_STATE_IDLE is never called.
The same issue occurs when we are focused on second or third element and we swipe up really fast.
This problem does not occur in case of using LinearSnapHelper

[2017-07-26 16:32] rubensousa commented on #24
This isn't part of the library. Those events are called by the RecyclerView itself.

Anyway, I've updated the sample with a vertical list of items that fills the whole screen. The onSnap method seems to be called properly. Can you check the sample again?

[2017-07-26 16:40] rubensousa commented on #23
Fixed on 1.3. Now the FlingListener is set to null before the SnapHelper attaches itself to the RecyclerView.

[2017-07-26 16:40] #23 closed

[2017-08-04 05:21] mspmax opened #25 "Snap to a custom position"
Hi,

First of all, thank you for your work and appreciate it. This is more like a requirement than an issue.
![screenshot_20170804-135308](https://user-images.githubusercontent.com/4340194/28955205-1fd7059c-7928-11e7-985c-cb8aa102bd1d.png)

So I have this requirement to snap the horizontal recyclerView to the left edge of the screen (exactly like latest play store update for movies) during the fir

[2017-08-22 07:57] dingbuoyi opened #26 "Snap center can't see the last item completely"
If you change the CardView's "layout_width" to 152dp which is in the adapter.xml,
then for the type which is "Snap center" in the demo app can't see the first and last item completely.

[code]
![image](https://user-images.githubusercontent.com/476649/29554829-34484d5e-8753-11e7-918b-7c977ed9468d.png)

[2017-08-22 09:41] rubensousa commented on #26
Snap center means: center the closest item near the center. In this case it's the Slides card. The other views don't matter.

[2017-08-22 09:44] rubensousa commented on #25
I can think of a possible way: add an invisible placeholder item with X width (in this case, it seems around 4x the usual item's width) and then use GravityPagerSnapHelper.

Let me know if this works :)

[2017-08-22 10:28] dingbuoyi commented on #26
@rubensousa

Thank you for reply, the problem is that you can't see the last item completely.
Every time you slide from right to left when the recycle view has reached the end, it will rebound and make the last but one item in the center of the  recycle view.

[2017-08-22 10:31] rubensousa commented on #26
I know, but this isn't a library issue. If you need to show the last item, you need to pick another SnapHelper or adjust the card size so that it can fit at least 3 visible items at the same time :)

[2017-08-22 10:34] rubensousa commented on #26
Unless you mean extending LinearSnapHelper to something that overcomes this? As in a feature request.

[2017-08-23 02:25] dingbuoyi commented on #26
@rubensousa

Thank you for reply, you are right . I am trying to implement a custom SnapHelper which can overcomes this.

[2017-08-24 09:28] LoveqLRC opened #27 "How to scroll to postion with Snap?"
I use the `mLayoutManager.scrollToPositionWithOffset(1, 0);`  method，but the snap effect not work well.

[2017-09-05 05:06] liulance opened #28 "GridLayoutManager does not support"
Hi:
Will GravityPagerSnapHelper not support GridLayoutManager mode? How should deal with it? Thank you

[2017-09-20 23:54] ursusursus opened #29 "Disable flinging"
Hi, nice effect but being able to fling which turns into linear scroll really ruins it, id like to mimic view pager physics, exactly how google play does it

thanks

[2017-09-21 10:58] rubensousa commented on #29
Did you try using GravityPagerSnapHelper?

[2017-09-21 16:48] ursusursus commented on #29
Didnt know about it, thanks!
Now when Im trying it, its more of what I want, but is there a way to customize it? Say google play one "feels" better, i.e. when I fling it "pages" more items not just one, like GravityPagerSnapHelper

[2017-09-22 10:35] rubensousa commented on #29
Are you using items with the same width as the google play ones? It should be identical.

[2017-09-22 12:13] ursusursus commented on #29
Yes same width. The logic seems fine, but its way to hard to fling it, so Im guessing adjusting som "friction" attribute?

[2017-10-10 17:04] danmalafaia opened #30 "Dynamic Gravity"
@rubensousa is it possible to have a dynamic gravity?
My intention is make to make the first item with Gravity.LEFT, the last with Gravity.RIGHT and all the others with Gravity.CENTER.

[2017-10-11 13:42] rubensousa commented on #30
You'll need to extend one of the SnapHelpers in this library and figure this out yourself. I don't have plans to support this, sorry.

[2017-10-11 13:42] #30 closed

[2017-10-11 13:43] rubensousa commented on #24
Closing due to no response.

[2017-10-11 13:43] #24 closed

[2017-10-11 13:43] rubensousa commented on #25
Closing due to no response

[2017-10-11 13:43] #25 closed

[2017-10-16 06:57] huangjim opened #31 "how to listening the scroll position of the GravityPagerSnapHelper ?"

[2017-10-16 13:07] rubensousa commented on #31
Pass the SnapListener in the constructor: https://github.com/rubensousa/RecyclerViewSnap/blob/master/gravitysnaphelper/src/main/java/com/github/rubensousa/gravitysnaphelper/GravityPagerSnapHelper.java#L25

[2017-10-16 13:07] #31 closed

[2017-11-07 12:01] AndroidDeveloperLB opened #32 "Is it possible to snap every X views?"
For example, suppose I have tens of views to scroll through. If the user scrolled x/2 and a bit more, it will get to the X view.

[2017-11-07 15:43] AndroidDeveloperLB opened #33 "How to choose if it should create the views around?"
Upon using the sample, I noticed it calls onCreateViewHolder and onBindViewHolder just once.

On a normal ViewPager (and RecyclerView), it always loads those around, so those functions are called for the page on the left and on the right, too.

Is it possible to do it here too?
Maybe do it for current page, and soon after, to those around?
I ask this so that in case the pages are heavy, it will be

[2017-11-20 12:05] ghost commented on #23
getting same error with an example
[code]

scrolling to the bottom and then up produces this error

[2017-12-05 18:41] rubensousa commented on #28
I won't be doing this, sorry.

[2017-12-05 18:41] #28 closed

[2017-12-05 18:47] rubensousa commented on #27
Seems like these work fine with snap:
[code]

[2017-12-05 18:51] rubensousa commented on #33
I don't understand the question, sorry.
What are you trying to achieve? You want the sample to contain lots of nested recyclerviews?

[2017-12-05 18:53] rubensousa commented on #32
This would require another custom SnapHelper. I don't have any plans to implement this, though.

[2017-12-05 20:42] AndroidDeveloperLB commented on #33
Which part exactly isn't understood?

 I didn't ask about nested RecyclerViews, though this can be a case of heavy pages.

[2017-12-05 20:45] AndroidDeveloperLB commented on #32
Too bad. Thanks anyway

[2017-12-05 22:03] rubensousa commented on #33
I meant the title: "How to choose if it should create the views around?"

This sample has 4 nested RecyclerViews. Each one has a different SnapHelper. You mentioned the onBindViewHolder just gets called once in this case, which is ok, although it doesn't reflect the case in real life apps. So, what's the problem here?

EDIT:
Maybe this is useful: https://medium.com/google-developers/recyclerview-p

[2017-12-05 23:11] AndroidDeveloperLB commented on #33
onBindViewHolder Should be called not just for the current one, but also for those near it.
That's why I mentioned RecyclerView and ViewPager.
If you use this library to be used on the case of a full screen cell, for some reason, it doesn't load those near it.
This was written some time ago, so maybe I was mistakenly writing this on the wrong repo.

[2017-12-07 06:09] LoveqLRC commented on #27
Thanks for your answer. I solved this problem in another way.

[2017-12-07 06:09] #27 closed

[2017-12-07 14:42] vascoV opened #38 "Sap can't reach the first and the last element after the first scroll"
Hello,

Thi is my init screen
![24957009_10215315313984676_1139774752_o](https://user-images.githubusercontent.com/15817701/33720665-53d8d292-db6d-11e7-9b42-557acf3d4abc.jpg)
As soon as i scrol I am getting this:
![24957106_10215315313744670_1893402547_o](https://user-images.githubusercontent.com/15817701/33720675-608bb0cc-db6d-11e7-81a7-44593c4606f7.jpg)

I wanna be able to see one element in the

[2017-12-08 10:31] WTMahone opened #39 "Snap how to find the visiable item position?"
snapHelper.findTargetSnapPosition() can receive the visible item position?

[2017-12-08 11:01] c0d3sling3r commented on #11
I have same issue. On a horizontal RTL recyclerview which has `GravitySnapHelper(Gravity.END)` property.

[2017-12-08 11:55] mojsho opened #40 "RecyclerView Auto Scrolling with GravitySnapHelper"
I use RTL horizontal `recyclerview` with `LinearLayoutManager` and set `GravitySnapHelper(Gravity.END)` to it. But after apply a little scroll to left, the recyclerview scrolls to left automatically without any user touches.
I attached a gif following to show the problem:
![2017_12_08_14_58_08](https://user-images.githubusercontent.com/20586723/33764519-e8d25a96-dc29-11e7-8ea6-bcd1b9a8aabc.gif)

[2017-12-10 15:28] c0d3sling3r commented on #40
I found out the problem. Because the recyclerview has a `setReverseLayout(true)` this happens.

[2017-12-10 18:21] rubensousa commented on #38
Which SnapHelper are you using?

[2017-12-10 18:23] rubensousa commented on #39
I didn't understand the question, sorry. If you want to know which item is currently visible, you need to use the LinearLayoutManager's findFirstVisibleItemPosition().
Otherwise, if you want to know which item was snapped, you need to pass a SnapListener into GravitySnapHelper's constructor.

[2017-12-10 18:32] rubensousa commented on #40
Thanks for the report. I'll try to find a workaround.

[2017-12-10 19:18] rubensousa commented on #40
Can you check version 1.5 please? It should be fixed now.

[2017-12-11 02:27] WTMahone commented on #39
okey,thank you!

[2017-12-11 08:38] vascoV commented on #38
Hey @rubensousa I found this one implementation 'com.github.rubensousa:gravitysnaphelper:1.4'
and used it!

[2017-12-12 02:15] kavidriod opened #41 "Dot Indicator using Snap Helper"
Hi,
 Can I create UI like this using Snap Helper?

![03_c_overview_list_accepted_by_me](https://user-images.githubusercontent.com/28779054/33863951-5102e3b8-df10-11e7-91d6-6b8e3fee36ef.png)

[2017-12-13 08:35] wuxiaojun123 opened #42 "java.lang.IllegalStateException: An instance of OnFlingListener already set."
java.lang.IllegalStateException: An instance of OnFlingListener already set.
                                                                                          at android.support.v7.widget.SnapHelper.setupCallbacks(SnapHelper.java:115)
                                                                                          at android.support.v7.widget.SnapHelper.attachToRecyclerView(SnapHe

[2017-12-13 10:43] rubensousa commented on #42
Duplicate of: https://github.com/rubensousa/RecyclerViewSnap/issues/23
This was fixed already on 1.3

[2017-12-13 10:43] #42 closed

[2017-12-23 15:10] vascoV commented on #38
fixed

[2017-12-23 15:10] #38 closed

[2017-12-27 08:52] SetareMaghari commented on #40
hi, i still have this problem, maybe im not using it in the correct way,
i instance the class as:
            val SnapHelper  =  GravitySnapHelper(Gravity.END)
(its kotlin)

then i set layout-manager as:
  layoutManager =
                        GridLayoutManager(context, 1, RecyclerView.HORIZONTAL, true)

is that correct for RTL horizontal scroll?

[2017-12-27 11:17] rubensousa commented on #40
@SetareMaghari are you using 1.5? This issue was fixed on 1.5.

If you only have a span count of 1, you should use a LinearLayoutManager instead. But it should work anyway.

[2017-12-27 11:18] rubensousa commented on #41
That should be a custom view instead.

[2017-12-27 11:18] #41 closed

[2017-12-28 09:58] boyfox opened #43 "Bad scrolling horizontally and vertically"
Hi @rubensousa, thank you for great library. I have scrolling problem when using this a library. I have a ViewPager and I have horizontal orientation RecyclerView inside secondary fragment page. All items of this RecyclerView is a vertical orientation RecyclerView.
So, you can visualize structure like that:  vertical orientation RecyclerView is item of horizontal orientation RecyclerView is item o

[2017-12-28 10:04] rubensousa commented on #43
In HorizontalRVAdapter, you're using Gravity.START instead of Gravity.TOP:

[code]

[2017-12-28 10:14] sm-tester commented on #43
Thank you @rubensousa, but this solved just vertical scrolling problem, what do you thing about horizontal scrolling problem?

[2017-12-28 10:17] sm-tester commented on #43
Do you have any suggestions to solving scrolling horizontally if vertical list view is empty or not empty situations. When you will scroll on the header("Horz item: *") works fine horizontally, but when scrolling with vertical list to horizontally not works is stable

[2017-12-28 10:49] rubensousa commented on #43
Try removing this section inside HorizontalRVAdapter:

[code]

[2017-12-28 10:54] sm-tester commented on #43
I added this code because, i need vertical RecyclerView items will be clickable

[2017-12-28 11:01] rubensousa commented on #43
Ok, then try adding an OnItemTouchListener to the verticalRV RecyclerView and handle the click on onInterceptTouchEvent. I'm going to close this since it's not related to SnapHelper anymore. StackOverflow is the best place for this kind of issues.

[2017-12-28 11:01] #43 closed

[2017-12-28 11:04] sm-tester commented on #43
Thank you @rubensousa!!!

[2017-12-30 06:56] SetareMaghari commented on #40
@rubensousa yes a use 1.5.
i changed it to linearlayout manager but i still have the problem...
also if i change it to ltr direction there is still the problem!
look at here:

its my code:
                recycler.layoutManager =
                        LinearLayoutManager(context,  LinearLayoutManager.HORIZONTAL, false)
            val SnapHelper  =  GravitySnapHelper(Gravity.START)
            S

[2017-12-30 07:00] SetareMaghari commented on #11
@mojsho could you solve it?

[2018-01-02 03:45] kavidriod commented on #41
Can I add Dot Page indicator custom view with RecyclerView Pager right?

[2018-01-03 07:00] huangjim commented on #29
I also need disable flinging effect like google play，had you solved the problem？

[2018-01-07 12:55] SetareMaghari commented on #40
@rubensousa can you help me to solve it?

[2018-01-08 10:42] rubensousa commented on #40
I can't reproduce this anymore on 1.5. Can you build a sample project and try to reproduce this? If so, please send it to me afterwards.

[2018-01-10 07:43] MrShui opened #44 "scrolling two lines"
Two lines of one scrolling,how to do,please give me some suggest,thank you!

[2018-01-11 01:20] #44 closed

[2018-01-18 13:53] eitanaviv opened #45 "LinearSnapHelper and scrollToPosition"
Hi there,
I'm using "LinearSnapHelper" for center snapping and when using "scrollToPosition" the RecyclerView's layout is not centering as if i were scrolling manually.
Tried "smoothScrollToPosition" as i found on Stack OverFlow but then i'm getting a blank RecyclerView.
Any solution?
Thanks!

[2018-02-06 07:14] chnouman opened #46 "java.lang.IllegalStateException: An instance of OnFlingListener already set."
Adding Snaps dynamicaly and notifyDataSetChanged gives this above error what i'm doing so far is
[code]

[2018-02-06 07:31] chnouman commented on #29
Hy friends, how to remove this error java.lang.IllegalStateException: An instance of OnFlingListener already set.

i'm adding snaps dynamicaly and this error occur.

[2018-02-06 09:24] eitanaviv commented on #45
Ok, so `smoothScrollBy(1, 0)` after `scrollToPosition(5)` worked, but the movement animation is visible to user which is weird.
Any idea on how to fix it via the `scrollToPosition()` function?

[2018-02-07 17:17] chnouman commented on #46
@SUPERCILEX  can you please help

[2018-02-07 17:17] chnouman commented on #46
@rubensousa

[2018-02-07 18:07] chnouman commented on #46
sorry that was due to my mistake.

[2018-02-07 18:07] #46 closed

[2018-02-11 12:53] #45 closed

[2018-03-03 10:09] Danish1111 commented on #42
please describe how to fix this issue?

[2018-04-21 17:34] #39 closed

[2018-04-21 17:34] rubensousa commented on #40
Closing due to inactivity

[2018-04-21 17:34] #40 closed

[2018-04-21 17:35] rubensousa commented on #29
Closing due to inactivity

[2018-04-21 17:37] rubensousa commented on #33
Closing due to inactivity. This is question was out of scope for this library.

[2018-04-21 17:37] #33 closed

[2018-04-21 17:59] AndroidDeveloperLB commented on #33
@rubensousa I don't remember what it was about, but reading what I wrote, I think it was about the case that each cell would take whole screen (or just the whole width for horizontal scrolling), like a ViewPager, and that the issue is that it doesn't work like ViewPager.
This means that there is an issue, that the views around don't get updated till you actually see a part of them.
This is bad, be

[2018-04-21 18:05] rubensousa commented on #33
Yes, I finally understood what you meant, since I faced this exact issue a few months ago. My fix was extending LinearLayoutManager and just return more extra space in getExtraLayoutSpace: https://developer.android.com/reference/android/support/v7/widget/LinearLayoutManager.html#getExtraLayoutSpace(android.support.v7.widget.RecyclerView.State). I think we need to use this as an alternative to View

[2018-04-21 18:07] AndroidDeveloperLB commented on #33
Can you please show how to do it?
How to force that at least one item from each side of the current one would be loaded?

[2018-04-21 18:17] rubensousa commented on #33
I'm not sure if it's the best solution, but this was my workaround:

[code]

If you come up with another solution, please let me know :)

[2018-04-21 18:21] AndroidDeveloperLB commented on #33
I see. Thank you.

[2018-04-24 09:18] hmedat opened #47 "Unauthorized HttpErrorStatusCodeException"
`org.gradle.internal.resource.transport.http.HttpErrorStatusCodeException: Could not HEAD 'https://jitpack.io/com/github/rubensousa/gravitysnaphelper/1.5/gravitysnaphelper-1.5.pom'. Received status code 401 from server: Unauthorized
	at org.gradle.internal.resource.transport.http.HttpClientHelper.processResponse(HttpClientHelper.java:158)
	at org.gradle.internal.resource.transport.http.HttpClientH

[2018-05-24 11:49] osama-raddad commented on #40
just use
`                    val snapHelper = GravitySnapHelper(if (recyclerView.layoutDirection != Gravity.END) Gravity.START else Gravity.END)
`

[2018-07-24 12:42] jacekkrasowski opened #48 "CoordinatorLayout does not scroll on list fling"
I have a ViewPager having RecyclerView in each page.
ViewPager has layout behavior set to appbar_scrolling_view_behavior

when swiping list up, after finger is off the screen, fling starts, coordinator layout does not scroll, just the list moves up, appbar stays where the finger was left

[2018-07-29 11:37] rubensousa commented on #47
Seems like you're trying to download this from jitpack instead of jcenter

[2018-07-29 11:38] rubensousa commented on #48
Is this related to snapping or scrolling of AppBar? Seems like it's not related to this library.

[2018-07-29 11:39] hmedat commented on #47
I removed the lib , thank you

[2018-07-29 11:42] rubensousa commented on #47
I'm closing this then.

[2018-07-29 11:42] #47 closed

[2018-08-12 11:29] mehdijalalifar commented on #40
if use :
getWindow().getDecorView().setLayoutDirection(View.LAYOUT_DIRECTION_RTL);
in your activity , you need
1)add this code in recyclerView in adapter_snap.xml
android:layoutDirection="ltr"

2)snapAdapter.java
set reverseLayout:true
set Gravity:END

![ezgif-3-0ddc694c1a](https://user-images.githubusercontent.com/33620366/44001491-9c4e8c76-9e48-11e8-9e3c-c1294cbe9f35.gif)

[2018-09-18 01:50] jt-gilkeson opened #49 "SnapListener broken if enough padding is added to end of items to snap to last item"
Use Case: I want a Gravity.Start list where I can have the last item snapped to the first position (all the way at the start).  The reason for this is that I want to highlight / show something related to the item currently snapped and I want to be able to do this for all items.

To accomplish this, you can add enough padding to the end of the recyclerview that you can scroll the last item all the

[2018-09-18 18:27] jt-gilkeson commented on #49
It looks like this bug is actually in the Support Lib's findFirstCompletelyVisibleItemPosition (https://issuetracker.google.com/issues/37019979) - which your listener is relying on - they don't seem to handle the padding correctly when it comes to visibility.  Is it possible to use the logic for the snap to also report which item has been snapped instead of using the findFirstCompletelyVisibleItem

[2018-09-26 05:14] jt-gilkeson commented on #49
It looks like findFirstVisibleItemPosition() works when do you a Gravity.Start with padding at the end.

Perhaps an easy fix for this issue would be to add fallback logic to getSnappedPosition() that calls findFirstVisibleItemPosition() if findFirstCompletelyVisibleItemPosition() returns -1?  (and vice versa for end/bottom case)

[2018-09-30 20:20] rubensousa commented on #49
Sorry for the late reply, but I've been busy and can't work on this right now. I saw that you created a PR and I appreciate that. Give me some time to reproduce the behavior you described and then test the fix you proposed. Thanks!

[2018-10-01 06:18] jt-gilkeson commented on #49
I have a sample project that shows the issue with findFirstCompletelyVisibleItemPosition always returning -1 for a recyclerview  with end padding (no snap in this example project - but it should show you the issue) https://github.com/jt-gilkeson/RecyclerViewPaddingDemo

[2018-10-30 08:42] ZengHongHua opened #51 "at RecyclerView nested(嵌套) RecyclerView,an interesting problem...."
I have a problem,   at RecyclerView nested(嵌套) RecyclerView, It creates an interesting problem,  It's been rocking there.
can you help me,thank you very much.
this is the video connection:
https://res.cloudinary.com/liuyuesha/video/upload/v1540888109/test_snap_b2aa9s.mp4

Part of the code:
@Override
    public void onBindViewHolder(@NonNull RecyclerView.ViewHolder holder, final int position) {

[2018-11-02 09:53] ILAgent opened #52 "GridLayoutManager.SpanSizeLookup is not considered"
When we use GridLayoutManager not either element takes 1 cell. That's why logic
`if (layoutManager instanceof GridLayoutManager) {
                offset += ((GridLayoutManager) layoutManager).getSpanCount() - 1;
            }`
is not correct. We need to consider results of `spanSizeLookup.getSpanSize`

[2018-11-03 22:12] rubensousa commented on #51
Do you have padding in your recyclerview? Can you share your layout's XML here?

[2018-11-03 22:15] rubensousa commented on #49
I've merged your fix but noticed that snap is still broken when there's padding on either start or end.

findFirstVisibleItemPosition() doesn't work reliably when there's padding and it breaks the methods that find the target view.

[2018-11-03 23:24] ZengHongHua commented on #51
oh yes,I have set padding.
<RecyclerView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:paddingStart="20dp" >

[2018-11-03 23:25] ZengHongHua commented on #51
code in my conpany,
RecyclerView layout like this:
RecyclerView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
       android:paddingStart="20dp"

[2018-11-04 01:40] rubensousa commented on #49
I've managed to fix this tonight. Please check the develop branch.

[2018-11-04 01:42] rubensousa commented on #51
Does it still happen if you remove the padding? I've been working on a fix for this tonight. Check the develop branch code and see if it works for you until I release the new version.

[2018-11-04 01:43] rubensousa commented on #48
Closing due to no response.

[2018-11-04 01:43] #48 closed

[2018-11-04 03:43] ZengHongHua commented on #51
Sorry ,The project is for the company, Today is Sunday. I will try again tomorrow，thank you.

[2018-11-05 01:30] ZengHongHua commented on #51
I remove the padding, it is ok.

[2018-11-05 21:26] rubensousa commented on #51
Great :)
Will keep this open until 2.0 is released.

[2018-11-07 13:34] llleodeleon commented on #49
@rubensousa just to inform. I have this exact case where I want to snap to start but I add padding so te last item also snaps, but the listener is not called. Is there any approximate when this is going to be released?

[2018-11-07 23:21] rubensousa commented on #49
Hopefully this weekend if I have time. But please check if the code from the develop branch fixes the issue for you. You can copy the 2 classes.

[2018-11-11 19:43] rubensousa commented on #52
Fixed in 2.0

[2018-11-11 19:43] #52 closed

[2018-11-11 19:43] rubensousa commented on #49
Released in 2.0

[2018-11-11 19:43] #49 closed

[2018-11-11 19:45] rubensousa commented on #51
Fixed in 2.0

[2018-11-11 19:45] #51 closed

[2018-11-18 01:53] Sumino99 opened #54 "Show the vertical recyclerview below the horizontal"
I've copied all the codes, but the vertical recyclerview  #doesnt appear.

[2018-11-26 15:56] AndroidDeveloperLB opened #55 "Question: how to snap right away, and also while allowing first&last items to also be in center?"
Suppose I want to snap to center, similar to this:

![image](https://user-images.githubusercontent.com/5357526/49025514-89956500-f1a4-11e8-9f58-3bbba66a03b9.png)

Currently it seems that snapping only works after scrolling, and not right when we show the RecyclerView.

Also, it doesn't let me have the first and last items to be in the center.

[2018-11-26 19:02] rubensousa commented on #55
Adding decoration or padding to the start and end of the recyclerview should work fine. Have you tried doing this?

Currently it seems that snapping only works after scrolling, -> You can do it programmatically by calling the public API of LinearSnapHelper.

[2018-11-26 22:16] AndroidDeveloperLB commented on #55
I'm not sure if this is a good solution. What will happen if the content of the first/last item would change? And you have to decide how much space to add to it.
Isn't there another way to solve it? A way to let the RecyclerView to keep letting you scroll by what on the center?

[2018-11-26 22:17] AndroidDeveloperLB commented on #55
I've made a question about it here:
https://stackoverflow.com/q/53483268/878126

[2018-11-27 09:50] rubensousa commented on #55
RecyclerView lays out the items filling the whole available space (using the standard layout managers). You can't center the first or last items without adding some content on the edges. I don't think you can run away from a hacky solution for this. I'll try this out in the weekend.

[2018-11-27 09:52] AndroidDeveloperLB commented on #55
But I thought that the LayoutManager is responsible about putting the Views and how to put each in its place...

[2018-11-27 12:56] rubensousa commented on #55
They are, but if you're using a LinearLayoutManager the content is spread along the whole width of the RecyclerView.

[2018-11-27 12:58] AndroidDeveloperLB commented on #55
Isn't there a way perhaps to override it, by extending  LinearLayoutManager ?

[2018-11-27 13:05] rubensousa commented on #55
I'm sure there is, but I don't have time to try this out now. I'll check this in the weekend.

[2018-11-27 13:09] rubensousa commented on #55
But I still think going for decoration is the easier way. You can have decoration that depends on the item width.

[2018-11-27 18:41] AndroidDeveloperLB commented on #55
Easy solutions sometimes isn't the best thing to do.
Thank you for trying it out.

[2018-11-27 23:51] rubensousa commented on #55
Managed to do it this night since I was curious :)
Video here: https://drive.google.com/open?id=1RPyiY9UndXcrbfBDWLB-UklxjPKMiR8-
This should do the trick:

[code]

[2018-11-27 23:55] AndroidDeveloperLB commented on #55
Seems promising.
Can you please put full solution? Here's a link:
https://stackoverflow.com/q/53483268/878126

[2018-11-27 23:56] rubensousa commented on #55
It has some problems though: doesn't work when there's less than 3 items. This probably requires a custom snap helper :)

[2018-11-28 00:06] AndroidDeveloperLB commented on #55
Oh, but I want to be able to set various number of items... :(

[2018-11-28 00:38] rubensousa commented on #55
Managed to fix this. Will update my answer on stackoverflow soon.

[2018-11-28 17:27] AndroidDeveloperLB commented on #55
Thank you

[2018-12-01 22:51] rubensousa commented on #54
I don't understand the problem here. The vertical recyclerview is shown when you click on "VERTICAL" on the toolbar

[2019-01-17 08:10] pskr8209 commented on #54
im facing error type 3.

Starting: Intent { act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] cmp=com.github.rubensousa.recyclerviewsnap/.MainActivity }
Error type 3
Error: Activity class {com.github.rubensousa.recyclerviewsnap/com.github.rubensousa.recyclerviewsnap.MainActivity} does not exist.

Error while Launching activity

How to solve this?

[2019-01-24 08:29] huangjim opened #56 "a GravityPagerSnapHelper snap bug in version 1.5"
I am still using version 1.5 because my project does not surpport androidx. I need to use GravityPagerSnapHelper and listening page selected,like this:
`
 new GravityPagerSnapHelper(Gravity.START, true, new GravitySnapHelper.SnapListener() {
                @Override
                public void onSnap(int position) {
                    Toast.makeText(holder.recyclerView.getContext(),"Snapped: "+

[2019-01-24 10:21] rubensousa commented on #56
Set "enableSnapLastItem" to false in the constructor instead.

[2019-01-24 11:13] huangjim commented on #56
i make a gif
![ ](https://im.ezgif.com/tmp/ezgif-1-9ae145611902.gif)
if i set "enableSnapLastItem" to false in the constructor, it is fail to listen the callback of the last one

[2019-01-24 12:26] rubensousa commented on #56
That URL is returning 404. I think that issue was fixed on 2.0. I'll check if it happens on 2.0 and if it doesn't I'll backport the fix to the old support libraries.

[2019-01-24 13:58] huangjim commented on #56
You are right. It does not happen on 2.0. I am looking forward to fix this bug. Thank you very much.

[2019-01-25 01:57] huangjim commented on #56
![ ](http://zhimin-image.oss-cn-shenzhen.aliyuncs.com/18-11-11/ezgif.com-video-to-gif.gif)

[2019-01-25 16:45] rubensousa commented on #54
@pskr8209 you probably didn't add that Activity to your project. I'm going to close this due to inactivity.

[2019-01-25 16:45] #54 closed

[2019-01-25 17:40] rubensousa commented on #56
It's still not in jcenter, but here it is:

[code]

[2019-01-25 17:40] #56 closed

[2019-03-10 10:46] mr-gil opened #57 "GravitySnapHelper dont return the first position when the user scroll at (0,0) position"
I have the next problem, I have this view, the problem is when the user scroll at first element, when the "top" of the view is reached (0,0)  the  GravitySnapHelper.SnapListener dont return the position, this only happens if the view is scrolled at "(0,0) ",  but if i scroll at "(0, .1)" for example(only a little bit of scroll in y position) , it wokrs fine. . The callback is not fired, when the v

[2019-08-13 08:39] CodeBreak524 opened #58 "GravitySnapHelper ignores RecyclerView padding in 2.0"
In version 1.5 GravitySnapHelper respected paddings of RecyclerView, which it was attached to. For example, using helper Gravity.START to recycler with paddingLeft > 0 was correctly handled, i.e. this padding remained while snapping to next elements.
But in 2.0 this padding is ignored while snapping and this leads to layout break.

Example of used RecyclerView:
[code]

Layout of item used seems to

[2019-08-17 11:49] rubensousa commented on #58
I just checked this using the sample. There's a list titled "Snap start with padding" and it seems to work fine.

Can you provide a screenshot of the behavior you're looking for VS what it's like at the moment?

[2019-08-17 13:03] rubensousa commented on #57
Fixed on 2.1.0

[2019-08-17 13:03] #57 closed

[2019-08-28 04:59] VinhTranVN commented on #58
Hello @rubensousa, I have the same issue above on 2.1.0, it worked OK on 1.5, you can check the attached images, I hope they can provide more info.

version 1.5
<img width="480" alt="1 5" src="https://user-images.githubusercontent.com/6914963/63826627-3dbd5980-c98a-11e9-8358-7f3916a277a4.png">

version 2.1.0
<img width="478" alt="2 1 0" src="https://user-images.githubusercontent.com/6914963/638266

[2019-08-28 10:12] rubensousa commented on #58
@VinhTranVN thank you for the example :)

I'll check this once I have more time.

[2019-08-30 11:43] rubensousa commented on #32
@AndroidDeveloperLB , I'm adding something similar in 2.2.0. It'll not be exactly snapping on X views, but instead limiting the fling distance.
You can check this out here: https://github.com/rubensousa/RecyclerViewSnap/blob/develop/gravitysnaphelper/src/main/java/com/github/rubensousa/gravitysnaphelper/GravitySnapHelper.java#L293

You'll also be able to customise the snap speed:
https://github.co

[2019-08-30 11:51] rubensousa commented on #26
@dingbuoyi I'll add this in 2.2.0.

[2019-08-30 11:55] rubensousa commented on #21
@XtreeIvI this will be added in 2.2.0

[2019-08-30 12:41] rubensousa commented on #29
@ursusursus, this will be added in 2.2.0

[2019-08-30 12:41] rubensousa commented on #32
Check this issue: #29

[2019-08-30 14:44] AndroidDeveloperLB commented on #32
Why close it if it's not the same?
Can you please post a video of what was added?

[2019-08-30 15:31] rubensousa commented on #32
It's not released yet, but it's in the develop branch if you want to check it out.

I closed the issue again since it's not really what you asked for, although it's similar. That's why I linked the other issue.

Here's a preview: https://drive.google.com/file/d/1vbJ5jz39cCcVgWIeGRv5vWF5ESOglDCr/view

[2019-08-30 17:30] rubensousa commented on #26
Let's follow this in #21

[2019-08-30 17:30] #26 closed

[2019-08-30 21:24] AndroidDeveloperLB commented on #32
It's not the same?
But if it's not the same, why close it?
I'm confused.

[2019-08-31 00:38] rubensousa commented on #32
I closed it since I don't have plans to work on this specific feature at the moment. You closed this the last time because of that same reason

[2019-08-31 02:01] yangjunjin opened #59 "222"
老弟不行啊

[2019-08-31 08:47] AndroidDeveloperLB commented on #32
Sorry I don't remember.
Anyway, you added something that seem what I wrote, no? What's the difference between what I requested and what you've added?

[2019-08-31 12:43] rubensousa commented on #59
Can you write this in English? I don't understand.

[2019-08-31 12:43] #59 closed

[2019-08-31 12:47] rubensousa commented on #32
You wanted to snap every X views, however I've added support for limiting the maximum fling according to a value you can set through: https://github.com/rubensousa/RecyclerViewSnap/blob/decfb4102dcd8d741cce65f88e2d82e768d840b7/gravitysnaphelper/src/main/java/com/github/rubensousa/gravitysnaphelper/GravitySnapHelper.java#L274
And https://github.com/rubensousa/RecyclerViewSnap/blob/decfb4102dcd8d741

[2019-08-31 13:24] AndroidDeveloperLB commented on #32
Oh right.
Sorry for that.
Why not consider adding this functionality ?
It could be nice, for example, for a week view of a calendar app (shows a single week each time)

[2019-08-31 13:29] rubensousa commented on #32
Because it requires time I don't have at the moment. However, I could leave this open so that anyone else could work on this instead. Meanwhile, If you need something similar, you could use the other approach.

[2019-08-31 13:36] AndroidDeveloperLB commented on #32
OK please let it be open, then.

[2019-08-31 17:33] rubensousa commented on #58
Released in 2.2.0. Use this: https://github.com/rubensousa/GravitySnapHelper/blob/2.2.0/gravitysnaphelper/src/main/java/com/github/rubensousa/gravitysnaphelper/GravitySnapHelper.java#L324

By default this is false, so you need to call that and pass true

[2019-08-31 17:33] #58 closed

[2019-08-31 17:35] rubensousa commented on #29
Released in 2.2.0. Use this: https://github.com/rubensousa/GravitySnapHelper/blob/2.2.0/gravitysnaphelper/src/main/java/com/github/rubensousa/gravitysnaphelper/GravitySnapHelper.java#L300

Check the sample for examples

[2019-08-31 17:35] #29 closed

[2019-08-31 17:36] rubensousa commented on #21
Released in 2.2.0. Just pass Gravity.CENTER and you get this behavior by default

[2019-08-31 17:36] #21 closed

[2019-09-03 17:12] RahimpourDeveloper opened #61 "how set adapter for that"
hello
I can't set adapter for gravitySnapHelper!
and I can't find java code for that
can you help me, please?

[2019-09-04 00:18] rubensousa commented on #61
You can't set an adapter for a SnapHelper. The adapter is set on the RecyclerView.
[code]

[2019-09-04 00:18] #61 closed

[2019-11-14 16:10] albka1986 commented on #32
@rubensousa
Hello! Thanks for the lib it's very helpful.
I have a question about the feature "every x" I understand that you provided some another feature, but I try to use it and don't have a profit.
Here is my config:

[code]
My view in XML:
[code]

My goal is to go through the list one by one.
But if it's impossible by this lib, I try to set slow speed of scrolling and it doesn't work with meth

[2019-11-15 17:57] rubensousa commented on #32
@albka1986 for that use case, you need custom touch event handling. It's not possible to scroll one item only. For that, you need PagerSnapHelper. Check this StackOverflow question: https://stackoverflow.com/questions/53483268/how-to-have-recyclerview-snapped-to-center-and-yet-be-able-to-scroll-to-all-item/53510142#53510142

[2019-11-15 20:13] albka1986 commented on #32
Thanks

[2019-12-03 09:40] jizhe7550 opened #62 "the first item cannot snap to center"
When I try to set the gravity as Center and set the startPadding as the mid of the phone screen in horizontal, I found I cannot snap the first and the last view in some phone, such as Pixel, and it seems the second item is nearest than the first item to centre, but I don't know what I can change if I want to snap the first view in this situation, plz help me, thank you.

the decoration code
<dimen

[2020-02-07 13:19] fupduck commented on #62
@jizhe7550
For me it helped adding padding to the RecyclerView
[code]

[2020-04-28 18:16] aminPial opened #63 "Any help on having a Carousel Effect in this?"

[2020-05-20 04:47] leeprohacker opened #64 "GravitySnapHelper.SnapListener not callback when scroll to first position."
The issue when I set GravitySnapRecyclerView equal center and also set SnapListener for GravitySnapHelper. So the listener never callback "onSnap" when the recyclerview scrolled to top position and rest positions that working fine.

[2020-05-22 12:40] rubensousa commented on #64
The top position won't be called in `onSnap` if it can't be snapped. This usually happens when you don't have padding or decoration for the top or bottom items.

[2020-05-22 12:41] rubensousa commented on #62
You need to have enough decoration or padding set for that to work. The sample app has a "Center with decoration" example

[2020-05-22 12:42] #62 closed

[2020-05-23 12:37] leeprohacker commented on #64
@rubensousa rube
 I looked into your example, in the row Center with decoration, it's same issue i mentioned above. In fact my project I have added decoration to make item center horizontal. So do you have any advices for me? Thanks

[2020-05-23 18:24] rubensousa commented on #64
@leeprohacker I can confirm there's a problem. Sometimes the position 0 isn't dispatched on `onSnap`. I'll fix this in the next release

[2020-05-23 18:55] rubensousa commented on #64
@leeprohacker it should be fixed in the [develop](https://github.com/rubensousa/GravitySnapHelper/tree/develop) branch now. Can you check if now it behaves like you would expect?

[2020-05-23 19:14] rubensousa commented on #64
You can check this in your app by installing the version `2.2.1-beta01`

[2020-05-27 18:20] rubensousa commented on #63
If you need help with customising scrolling effects, please ask a question on StackOverflow if it's not related to the library

[2020-05-27 18:20] #63 closed

[2020-05-27 18:35] rubensousa commented on #64
Released on 2.2.1

[2020-05-27 18:35] #64 closed

[2020-08-30 17:59] mradzinski commented on #29
@rubensousa This isn't working as expected. Setting `setMaxFlingSizeFraction(1.0F)` on a full screen RecyclerView where each item occupies the entire viewport still allows to fling through more than 1 item at a time on vertical layouts (haven't tried with horizontal ones).

[2020-11-05 07:17] Hoalq-0026 commented on #64
@rubensousa
Hi!
I have a problem. I can not scroll to the top position when the call method smoothScrollToPosition(0)
in source code:

[code]

ryclerviewTopic.smoothScrollToPosition(0)

[code]

[2020-11-05 07:24] Hoalq-0026 opened #68 "can not scroll to the top position when call smoothScrollToPosition(0)"
@rubensousa
Hi!
I have a problem. I can not scroll to the top position when the call method smoothScrollToPosition(0)
in source code:

[code]

ryclerviewTopic.smoothScrollToPosition(0)

[code]

_Originally posted by @Hoalq-0026 in https://github.com/rubensousa/GravitySnapHelper/issues/64#issuecomment-722192004_

[2020-11-23 09:28] theapache64 opened #69 "Gravity.BOTTOM with margin"
Is there any way to have some bottom margin with `Gravity.BOTTOM` ? I want to show like `10%` of the next item.

**Expected Result**

![image](https://user-images.githubusercontent.com/9678279/99946399-4e7e9a00-2d9c-11eb-9376-7c946ef7116b.png)

[2020-11-23 18:12] theapache64 commented on #69
Got it fixed with `padding`. Thank you :+1:

[2020-11-23 18:12] #69 closed

[2020-12-07 02:54] sopharasum opened #70 "Does this can work like PagerSnapHelper"

[2021-01-26 13:27] RohanArora13 commented on #70
kotlin code
works like pager snap helper

[code]

[2021-02-04 11:28] entibaldi opened #71 "Library artifacts are published to jcenter only, which will close in 3 months"
Hello! Your library is published only to jcenter. Please consider publishing it also to mavenCentral, as jcenter is [shutting down in May](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/).

[Here](https://central.sonatype.org/pages/producers.html) is some info on how to publish artifacts to mavenCentral.

[2021-02-08 01:57] sopharasum commented on #70
Thank you brother for your snip of code. However, it does not work like a PagerSnapHelper when we swipe right or left.

[2021-02-09 20:21] rubensousa commented on #70
Did you check this? https://github.com/rubensousa/GravitySnapHelper/blob/master/gravitysnaphelper/src/main/java/com/github/rubensousa/gravitysnaphelper/GravityPagerSnapHelper.java

[2021-02-10 01:40] sopharasum commented on #70
How do you implement this function? As I am trying to attach it to `RecyclerView`. Even though I am trying to replace `GravitySnapHelper` with `GravityPagerSnapHelper` on your custom object, still it does not work fine. If I have 3 items in `HorizontalRecyclerView`, when I swipe right, it will jump to the last position.

[2021-02-10 23:32] rubensousa commented on #70
Can you upload a sample showcasing the issue? GravityPagerSnapHelper only works if you have the items with "match_parent", same as ViewPager

[2021-03-03 11:05] alim2020 opened #72 "how to make hightlight snap item center"
Hi,
how to make in horizontal recyclerview  item start/end from center(CENTER DECORATION) and the highlight of selected/ snapped item.

[2021-03-15 15:47] michblazek opened #73 "Could not download package"
Hello, i'd like to try your implementation, but I am not able to download the package;

`
Could not resolve all dependencies for configuration ':app:debugRuntimeClasspath'.
Could not determine artifacts for com.github.rubensousa:gravitysnaphelper:2.2.1
Could not get resource 'https://jcenter.bintray.com/com/github/rubensousa/gravitysnaphelper/2.2.1/gravitysnaphelper-2.2.1.aar'.
Could not HEAD 'htt

[2021-03-15 22:37] rubensousa commented on #73
Hi there. That should not happen, but I'm already taking care of uploading this to mavenCentral. Will you let you know once it's available

[2021-03-16 09:07] tyates commented on #73
The error itself is because Bintray had an outage at that time:
https://status.bintray.com/

[2021-03-16 09:09] #73 closed

[2021-03-16 11:48] rubensousa commented on #71
Latest release is now in mavenCentral: https://s01.oss.sonatype.org/content/groups/public/com/github/rubensousa/gravitysnaphelper/2.2.1/

[2021-03-16 11:48] #71 closed

[2021-04-05 08:04] vutruong99 opened #74 "Snap with decoration"
Hey bro, I was wondering how I can center the first and last item of the recyclerview like in your Demo (with decoration)? Because it will not snap the first item to center if no decoration is made. Thank you.

[2021-08-31 09:31] clhols opened #75 "IllegalArgumentException when setting snapGravity to center"
With snap helper version 2.2.1

This is due to missing break; in GravitySnapRecyclerView:

Current:
[code]

should be

[code]

[2021-08-31 09:42] clhols commented on #75
Reverting back to version 2.2.0 from jcenter is a workaround. Seems a regression has happened in 2.2.1.

[2021-09-01 21:23] rubensousa commented on #75
Thanks for letting me know. I will fix this in 2.2.2 and will update here once it's released @clhols

[2021-09-01 21:47] rubensousa commented on #75
2.2.2 released with this fix

[2021-09-01 21:47] #75 closed

[2021-11-19 07:42] giagor commented on #70
like this?
    binding.snapHelper = GravitySnapHelper(Gravity.START).apply {
        maxFlingDistance = getWindowWidth(requireContext())
    }

[2021-11-19 07:43] giagor commented on #70
like this?
        binding.snapHelper = GravitySnapHelper(Gravity.START).apply {
            maxFlingDistance = Your Screen Width
        }

[2021-11-19 07:43] giagor commented on #70
like this?
binding.snapHelper = GravitySnapHelper(Gravity.START).apply {
maxFlingDistance = Your Screen Width
}

[2022-03-19 12:57] evonicgu opened #79 "Prevent snap on items which are bigger than the viewport"
How to allow scrolling the item that is bigger than the screen size? Currently, it snaps to the start of the item when I try to scroll this big item. Is it possible to make the described behaviour?